################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/bin
/.vs/WebApplication
/.vs/VSWorkspaceState.json
